<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
  <servlet>
    <servlet-name>postagger</servlet-name>
    <servlet-class>net.stefanschramm.postaggerservlet.TaggerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>postagger</servlet-name>
    <url-pattern>/postagger</url-pattern>
  </servlet-mapping>
</web-app>
